@import 'tailwindcss';
@import 'tw-animate-css';

html,
body {
  height: 100%;
}

:root {
  --background: #e0d9cf;
  --foreground: #1f2937;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  @apply bg-background text-foreground;
}
